body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(201, 197, 193);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  height: 300px;
  width: 500px;
  align-content: center;
  text-align: center;
  margin: auto;
}

.w{
  position: relative;
  text-align: center;
}

#header{
  font-weight: 1;
}

.list{
  background-color: aliceblue;
  position: relative;
  align-content: center;
  text-align: left;
  width: 500px;
}

.list input{
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  border-bottom: 2px solid rgb(128, 125, 125, 0.5);
  width: 100%;
  box-sizing: border-box;
}

/* .list input:active{
  border: none;
  outline: none;
  background: none;
} */

.list span{
  margin-right: 60px;
  font-size: 14px;
}

.list button{
  outline: none;
  background: none;
  border: none;
  font-size: 14px;
}

.list button:active{
  outline: brown;
  border-color: brown;
  border: 2px solid brown;
}

.list input[type="checkbox"] {
  height: 12px;
  width: 15px;
  align-items: center;
  text-align: center;
  float: left;
}

#tasks{
  font-size: 20px;
  left: 0px;
}

.list p{
  border-bottom: 2px solid rgba(172, 168, 168, 0.5);
}

.clear{
  margin-left: 60px;
}






